# Токен бота Telegram от @BotFather
BOT_TOKEN=your_telegram_bot_token_here

# Список Telegram ID с доступом к боту через запятую (оставьте пустым для доступа всем)
ALLOWED_USERS=2035205294

# ID группы по умолчанию для расписания (238 - П-31 / П-21)
DEFAULT_GROUP_ID=238
